.fp-tableCell {
    height: 576px!important;
}
body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: #2f2f2f
}

.displayNone {
    display: none !important;
}

.scroll-label {
    width: 23px;
    height: 139px;
    transition-duration: 0.15s;
    position: fixed;
    top: 48vh;
    right: 5%;
}

.scroll-label img {
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 105%;
    align-items: center;
    padding: 10px 5% 10px 5%;
}

.logo {
    width: 180px;
}

.logo img {
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-item {
    cursor: pointer;
}

section {
    height: 80vh;
    margin-bottom: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

input, textarea {
    -webkit-appearance: none;
    border: none
}

input:focus, textarea:focus {
    -webkit-appearance: none;
    outline: none;
}

ul {
    list-style: none; /* Remove default bullets */
}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #00FF94; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.nav-item {
    margin-right: 15%;
    font-size: 20px;
    font-weight: bolder;
}

.main-title {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 20vh;
    left: 10%;
}

.main-title h1 {
    font-size: 150px;
    line-height: 130px;
}

.main-title .sub-title {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 32px;
    font-size: 35px;
    padding: 10px 30px 25px 40px;
    height: fit-content;
    position: relative;
    top: 150px;
    right: 300px
}

.main-title .sub-title h2:last-child {
    text-align: right;
}

.main-title .scroll-label {
    position: relative;
    top: 60px;
    right: 250px;
}

.clicks {
    background: linear-gradient(103.6deg, #38F9D7 3.54%, #43E97B 111.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.profits {
    background: linear-gradient(94.28deg, #9340FC 12.9%, #5D5FEF 87.63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.second {
    display: flex;
    flex-direction: row;
}

.second-aside {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 32px;
    font-size: 24px;
    width: fit-content;
    height: fit-content;
    padding: 80px 50px 80px 70px;
    transition-duration: 1s;
    position: relative;
}

.second-title {
    position: relative;
    right: 150px;
    bottom: 20px;
}

.second-right {
    background: linear-gradient(144.14deg, rgba(255, 255, 255, 0.6) 3.57%, rgba(255, 255, 255, 0.6) 100.7%);
    /* glass blur */
    backdrop-filter: blur(15px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 32px;
    height: fit-content;
    padding: 50px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.second-right h3 {
    font-size: 55px;
    margin-bottom: 30px;
}

.second-right li {
    font-size: 24px;
    margin-left: 2em;
}

.btn-approach {
    background: linear-gradient(103.6deg, #38F9D7 3.54%, #43E97B 111.92%);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(4px);
    border-radius: 9px;
    color: white;
    width: fit-content;
    padding: 10px;
    font-size: 24px;
    position: relative;
    top: 70px;
    align-self: center;
    cursor: pointer;
}

html.w-mod-js *[data-ix="fade-in-heading"] {
    opacity: 0;
    -webkit-transform: translate(0px, -30px);
    -ms-transform: translate(0px, -30px);
    transform: translate(0px, -30px);
}

html.w-mod-js *[data-ix="fade-in-heading-2"] {
    opacity: 0;
    -webkit-transform: translate(0px, -30px);
    -ms-transform: translate(0px, -30px);
    transform: translate(0px, -30px);
}

#block2Content {
    transition-duration: 0.5s;
    transition-property: opacity, bottom;
    opacity: 1;
    z-index: 1000;
}

#block2Content_ {
    display: none;
    transition-duration: 0.5s;
    transition-property: opacity, bottom;
    opacity: 0;
}

ul li {
    font-weight: bold;
    margin-bottom: 25px;
}

li span {
    font-weight: bolder !important;
}

ul li:first-child {
    line-height: 24px;
}

ul li:last-child {
    margin-bottom: 16px;
}

.second aside h2 {
    font-size: 90px;
    line-height: 75px;
    position: relative;
    top: 5px;
    right: 80px;
}

.third {
    display: flex;
    flex-direction: row;
}

.top-sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    z-index: 100;
}

.top-sec div {
    width: 40%;
}

.top-sec div img {
    width: 100%;
}

.bottom-sec {
    width: 100%;
    margin-top: -400px;
    background: linear-gradient(134.64deg, rgba(245, 241, 248, 0.32) 0%, rgba(255, 255, 255, 0.32) 100.64%);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    padding: 100px 50px;
}

.bottom-sec p {
    width: 50%;
}

.third aside {
    background: linear-gradient(134.64deg, rgba(245, 245, 245, 0.15) 0%, rgba(255, 255, 255, 0.15) 100.64%);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    width: 80%;
    height: fit-content;
    transition-duration: 0.5s;
    position: relative;
    display: flex;
    flex-direction: column;
}

.third aside h2 {
    font-size: 90px;
    margin-bottom: 70px;
}

.third aside p {
    font-weight: bold;
    font-size: 28px;
}

.third aside p span {
    font-weight: bolder;
}

.third .scroll-label {
    position: relative;
    top: 200px;
    left: 50px;
}

.fourth {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 90%;
    margin-bottom: 33vh;
}

.fourth > aside {
    flex-direction: column !important;
    background: linear-gradient(134.64deg, rgba(245, 245, 245, 0.32) 0%, rgba(255, 255, 255, 0.22) 100.64%);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    transition-duration: 0.5s;
    position: relative;
}

.fourth h2 {
    font-size: 35px;
    text-align: center;
    margin: 20px 250px 30px;
}

.fourth aside {
    display: flex;
    flex-direction: row;
    /*height: fit-content;*/
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;background: linear-gradient(134.64deg, rgba(245, 245, 245, 0.47) 0%, rgba(255, 255, 255, 0.47) 100.64%);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    width: 100%;
    padding: 50px 50px 0;
    /*margin-right: 50px;*/
    /*margin-left: 50px;*/
}

.right-col {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 10%;
}

.left-col {
    display: flex;
    flex-direction: column;
}

.field {
    margin-bottom: 32px;
}

.last-field {
    margin-bottom: 0 !important;
}

.field input, textarea {
    padding: 10px;
    font-size: 1.875rem;
    color: #ABABAB;
    border-radius: 9px;
    text-align: center;
    box-shadow: 0 4px 16px #d2d2d2;
}

.btn {
    background: linear-gradient(103.6deg, #38F9D7 3.54%, #43E97B 111.92%);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 9px;
    width: fit-content;
    padding: 10px 35px;
    align-self: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    line-height: 79.52%;
    /* or 16px */
    text-align: center;
    letter-spacing: -0.02em;
    color: #F6F6F6;
}

.form-footer, .form-footer-right {
    display: flex;
    flex-direction: row;
}

.form-footer {
    justify-content: center;
    position: relative;
    left: 5%;
}

.form-logo-box {
    width: 90%;
    background: linear-gradient(134.64deg, rgba(245, 245, 245, 0.64) 0%, rgba(255, 255, 255, 0.64) 100.64%);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(4px);
    border-radius: 16px;
    border: 1px solid;
    border-image-source: linear-gradient(134.56deg, #FFFFFF 1.97%, rgba(56, 249, 215, 0.51) 100%);
    padding: 20px 30px 10px;
    height: fit-content;
    position: relative;
    top: 50px
}

.form-logo-box img {
    width: 100%;
}

.social-media {
    background: linear-gradient(134.64deg, rgba(245, 245, 245, 0.47) 0%, rgba(255, 255, 255, 0.47) 100.64%);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 9px;
    width: fit-content;
    height: fit-content;
    padding: 10px 10px 7px;
}

.form-footer-right {
    align-self: center;
    width: 70%;
    justify-content: space-around;
    position: relative;
    top: 85px
}

@media screen and (max-width: 1920px) {
    .third {
        margin-bottom: 40vh;
    }

    .fourth {
        margin-bottom: 20vh;
    }
}

@media screen and (max-width: 1440px) {
        .first {
        padding-left: 10%;
    }

    .sub-title {
        padding-left: 10px !important;
        min-width: 400px;
    }

    .second-title {
         right: 50px;
    }
}

@media screen and (-webkit-device-pixel-ratio: 1.25){
    :root {
        zoom: 0.8
    }

    .bottom-sec {
        margin-top: -250px
    }

    section {
        margin-bottom: 30vh !important;
    }

    .third {
        margin-bottom: 90vh !important;
    }
}

@media screen and (-webkit-device-pixel-ratio: 1.5){
    :root {
        zoom: 0.6;
    }

    .bottom-sec {
        margin-top: -350px;
    }

    section {
        margin-bottom: 20vh!important;
    }

    .third {
        margin-bottom: 100vh !important;
    }
}
